.cf:before,
.cf:after {
  *zoom: 1; }
  .cf:before,
  .cf:after {
    content: " ";
    display: table; }
  .cf:after {
    clear: both; }

/* Fluid Grid
-----------------
*/
/*SELECT STYLES */
/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */
/* =============================================================================
   Links
   ========================================================================== */
a:focus {
  outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active {
  outline: 0; }

/* =============================================================================
   Typography
   ========================================================================== */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* =============================================================================
   Lists
   ========================================================================== */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */
svg:not(:root) {
  overflow: hidden; }

/* =============================================================================
   Figures
   ========================================================================== */
figure {
  margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label {
  cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */
button, input {
  line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */
button[disabled], input[disabled] {
  cursor: default; }

/*
 * Consistent box sizing and appearance
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid {
  background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */
/* For image replacement */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0; }

.ir br {
  display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden {
  display: none !important;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  /* Black prints faster: h5bp.com/s */
  a, a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: ""; }

  /* Don't show links for images, or javascript/internal links */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* h5bp.com/t */
  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
body {
  width: 100%;
  float: left; }

body {
  font: 100%/1.5 "Raleway", sans-serif;
  color: #acacac; }

/* HEADINGS */
h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  color: #444444; }

h1 {
  margin: 0 0 10px 0;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 800;
  line-height: 1;
  color: #444444; }

h2 {
  font-size: 24px;
  line-height: 1.4; }

.arrow:hover:after {
  margin-left: 12px; }
.arrow:after {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-left: 8px;
  -webkit-transition: 0.3s margin-left;
  -moz-transition: 0.3s margin-left;
  -ms-transition: 0.3s margin-left;
  -o-transition: 0.3s margin-left;
  transition: 0.3s margin-left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\ea3c"; }

/* PARAGRAPH */
p {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 1em;
  color: #444444; }

a {
  color: #3a60b3;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none; }
  a:hover {
    color: #505050;
    text-decoration: none; }

/* LISTS */
ul {
  padding: 0;
  list-style: none; }

.button {
  padding: 1em 2em;
  border: solid 1px #3a60b3;
  border-radius: 4px;
  text-transform: uppercase;
  font-weight: 800;
  display: inline-block;
  color: #3a60b3; }
  .button:hover {
    opacity: 0.6;
    filter: alpha(opacity=0.6); }

.mainnav {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  padding: 2em 0;
  background: white; }
  .mainnav .logo {
    display: inline; }
    .mainnav .logo img {
      width: 120px; }
  .mainnav ul {
    float: right;
    display: inline; }
    .mainnav ul li {
      float: left; }
      .mainnav ul li.active a {
        color: #3a60b3; }
      .mainnav ul li:last-child a {
        border-right: 0; }
      .mainnav ul li a {
        padding: 1em 12px;
        font-size: 11px;
        font-family: "Montserrat", sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        line-height: 3.1;
        color: gray;
        border-right: solid 1px #e5e5e5; }
        .mainnav ul li a:hover {
          color: #3a60b3; }

.tophat {
  background: #3a60b3;
  padding: 0; }
  .tophat li {
    float: left; }
    .tophat li a.quote {
      background: #2e4b8c;
      padding: 2em 4em;
      font-weight: 800;
      font-family: "Montserrat", sans-serif;
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -ms-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all; }
      .tophat li a.quote:hover {
        background: rgba(192, 75, 19, 0.6); }
    .tophat li:last-child a, .tophat li:nth-child(3) a {
      border-right: 0; }
  .tophat ul.social {
    float: left; }
  .tophat ul {
    float: right;
    margin: 0;
    padding: 0; }
    .tophat ul a {
      display: inline-block;
      padding: 2em 1em;
      font-size: 12px;
      color: white;
      border-right: solid 1px #577bc9; }
      .tophat ul a:hover {
        color: rgba(255, 255, 255, 0.5); }
      .tophat ul a:before {
        margin-right: 1em; }

footer {
  padding: 4em 2em;
  background: #28272c; }
  footer hr {
    border-top-color: #444444; }
  footer .social li {
    display: inline;
    margin-right: 1em; }
    footer .social li:last-child {
      margin-right: 0; }
    footer .social li a {
      font-size: 20px; }
  footer h4 {
    font-size: 14px;
    margin: 0 0 10px 0;
    text-transform: uppercase; }
    footer h4 .quote {
      color: #acacac; }
    footer h4 a {
      color: #444444;
      font-size: 14px;
      font-family: "Montserrat", sans-serif; }
  footer li {
    line-height: 1.1; }
  footer a {
    color: #acacac;
    font-family: "Montserrat", sans-serif;
    font-size: 12px; }

/* Animations */
.left-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: left-fast;
  -moz-animation-name: left-fast;
  animation-name: left-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.right-fast {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: right-fast;
  -moz-animation-name: right-fast;
  animation-name: right-fast;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.roll-in-left {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: roll-in-left;
  -moz-animation-name: roll-in-left;
  animation-name: roll-in-left;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.up {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: up;
  -moz-animation-name: up;
  animation-name: up;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.down {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: down;
  -moz-animation-name: down;
  animation-name: down;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.fade-in {
  -webkit-animation-duration: 900ms;
  -moz-animation-duration: 900ms;
  animation-duration: 900ms;
  -webkit-animation-name: fade-in;
  -moz-animation-name: fade-in;
  animation-name: fade-in;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease; }

.delay {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s; }

.delay2 {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  animation-delay: 1.2s; }

/* KEYFRAMES */
@-webkit-keyframes left-fast {
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px; }

  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@-moz-keyframes left-fast {
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px; }

  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@-o-keyframes left-fast {
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px; }

  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@keyframes left-fast {
  0% {
    opacity: 0;
    -webkit-translateX: 100px;
    -moz-translateX: 100px;
    translateX: 100px; }

  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@-webkit-keyframes right-fast {
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px; }

  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@-moz-keyframes right-fast {
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px; }

  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@-o-keyframes right-fast {
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px; }

  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@keyframes right-fast {
  0% {
    opacity: 0;
    -webkit-translateX: -100px;
    -moz-translateX: -100px;
    translateX: -100px; }

  100% {
    opacity: 1;
    -webkit-translateY: 0;
    -moz-translateY: 0;
    translateY: 0; } }
@-webkit-keyframes roll-in-left {
  0% {
    opacity: 0;
    margin-left: -500px;
    -webkit-transform: rotateX(550deg); }

  100% {
    opacity: 1; } }
@-webkit-keyframes up {
  0% {
    bottom: -185px; }

  100% {
    bottom: 0px; } }
@-moz-keyframes up {
  0% {
    bottom: -185px; }

  100% {
    bottom: 0px; } }
@-o-keyframes up {
  0% {
    bottom: -185px; }

  100% {
    bottom: 0px; } }
@keyframes up {
  0% {
    bottom: -185px; }

  100% {
    bottom: 0px; } }
@-webkit-keyframes down {
  0% {
    bottom: 0px; }

  100% {
    bottom: -185px; } }
@-moz-keyframes down {
  0% {
    bottom: 0px; }

  100% {
    bottom: -185px; } }
@-o-keyframes down {
  0% {
    bottom: 0px; }

  100% {
    bottom: -185px; } }
@keyframes down {
  0% {
    bottom: 0px; }

  100% {
    bottom: -185px; } }
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }

  100% {
    opacity: 1;
    filter: alpha(opacity=1); } }
@-moz-keyframes fade-in {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }

  100% {
    opacity: 1;
    filter: alpha(opacity=1); } }
@-o-keyframes fade-in {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }

  100% {
    opacity: 1;
    filter: alpha(opacity=1); } }
@keyframes fade-in {
  0% {
    opacity: 0;
    filter: alpha(opacity=0); }

  100% {
    opacity: 1;
    filter: alpha(opacity=1); } }
/* SENCHA ANIMATIONS */
/* Contact Form */
.main-form {
  position: relative; }

.main-form:before,
.main-form:after {
  content: " ";
  display: table; }

.main-form:after {
  clear: both; }

.main-form label {
  display: block;
  padding: 10px 5px 5px 2px;
  font-size: 1.1em;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  color: #444444; }

.main-form input,
.main-form textarea,
.main-form select {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-size: 18px;
  color: #444444;
  display: block;
  width: 100%;
  background: #ebebeb; }

.main-form input,
.main-form textarea {
  border: 0px;
  border-radius: 0 !important;
  padding: 1em;
  box-shadow: none;
  padding: 0 0 0 15px;
  height: 60px; }

.main-form textarea {
  min-height: 200px; }

.main-form input:focus,
.main-form textarea:focus,
.main-form label:active + input,
.main-form label:active + textarea {
  outline: none;
  border: 1px solid #444444; }

.main-form select:focus {
  outline: none; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #10689a;
  font-style: italic; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #10689a;
  font-style: italic; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #10689a;
  font-style: italic; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #10689a;
  font-style: italic; }

.cbp-mc-submit-wrap {
  text-align: center;
  padding-top: 40px;
  clear: both; }

.main-form input.cbp-mc-submit {
  background: #444444;
  border: none;
  color: white;
  width: auto;
  cursor: pointer;
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.1em;
  letter-spacing: 1px;
  margin: 1em 0;
  font-weight: 100;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }

.main-form input.cbp-mc-submit:hover {
  background: #3a60b3;
  display: inline-block; }

#nospam, .nospam {
  display: none; }

.thumbs {
  width: 47%;
  margin: 1%;
  float: left; }
  .thumbs img {
    width: 100%; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* RESPONSIVE IMAGES */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }
  .lt-ie9 img {
    width: auto; }

body {
  padding: 0; }

/* MAIN */
section {
  padding: 3em 2em; }

.wrap {
  max-width: 940px;
  margin: auto; }
  .wrap:before, .wrap:after {
    content: "";
    display: table; }
  .wrap:after {
    clear: both; }

.cad {
  border: solid 1px #D0D0D0;
  padding: 0 !important;
  margin: 0; }
  .cad li {
    padding: .5em 1em;
    width: 100%;
    width: 100%;
    list-style: none;
    border-bottom: solid 1px #D0D0D0; }
    .cad li:nth-child(even) {
      background: #F5F5F5; }
    .cad li:before, .cad li:after {
      content: "";
      display: table; }
    .cad li:after {
      clear: both; }
    .cad li p {
      float: left;
      margin: 0;
      font-weight: 100; }
    .cad li a {
      float: right;
      margin: 0; }
    .cad li:last-child {
      border-bottom: 0; }

.quoteBar {
  background: url("/resources/img/quoteBG.jpg") no-repeat;
  background-size: cover;
  padding: 2em; }
  .quoteBar h1 {
    color: white; }
  .quoteBar p {
    color: white;
    margin: 0; }
  .quoteBar .button {
    color: white;
    background: rgba(255, 255, 255, 0.2);
    border-color: white; }

.content .span8 .productList {
  margin: 0;
  padding: 0;
  list-style: none; }
  .content .span8 .productList li {
    list-style: none;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: solid 1px #E2E2E2; }
    .content .span8 .productList li img {
      width: 19%; }
    .content .span8 .productList li p {
      margin-bottom: 0;
      font-size: 12px; }
    .content .span8 .productList li:last-child {
      border-bottom: 0; }
    .content .span8 .productList li:before, .content .span8 .productList li:after {
      content: "";
      display: table; }
    .content .span8 .productList li:after {
      clear: both; }
    .content .span8 .productList li img, .content .span8 .productList li div {
      float: left; }
    .content .span8 .productList li div {
      margin-left: 1em;
      width: 75%; }

ul.list li {
  padding: 8px 20px;
  border-bottom: solid 1px #e5e5e5;
  border-left: solid 7px transparent;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all; }
  ul.list li:hover {
    border-color: #e5e5e5; }
  ul.list li a {
    color: #444444; }
  ul.list li.active {
    border-left-color: #444444; }
  ul.list li:last-child {
    border-bottom: 0; }

.content .span4 h2 {
  margin-top: 0; }

.content .span8 ul {
  list-style-type: disc;
  padding: 0 0 0 50px; }
  .content .span8 ul li {
    font-family: "Raleway", sans-serif;
    color: #444444; }

.home .hero {
  padding: 0;
  position: relative; }
  .home .hero .slides li .slideContain {
    padding: 5em 2em;
    background-size: cover;
    min-height: 437px; }
  .home .hero h1 {
    font-size: 20px; }
.home .content {
  padding: 2em; }
  .home .content div.span4 {
    text-align: left; }
    .home .content div.span4 ul li {
      padding: 8px 20px;
      border-bottom: solid 1px #e5e5e5;
      border-left: solid 7px transparent;
      -webkit-transition: 0.3s all;
      -moz-transition: 0.3s all;
      -ms-transition: 0.3s all;
      -o-transition: 0.3s all;
      transition: 0.3s all; }
      .home .content div.span4 ul li:hover {
        border-color: #e5e5e5; }
      .home .content div.span4 ul li a {
        color: #444444; }
      .home .content div.span4 ul li.active {
        border-left-color: #444444; }
      .home .content div.span4 ul li:last-child {
        border-bottom: 0; }
  .home .content div div[class*="span"] {
    padding: 0; }
    .home .content div div[class*="span"] div {
      padding: 0; }

.hero {
  background-size: cover;
  padding: 5em 2em; }
  .hero h1 {
    color: white;
    font-size: 25px; }
    .hero h1 span {
      color: #D0D0D0; }
  .hero p {
    color: white; }
  .hero a {
    color: #D0D0D0; }

/* FOOTER */
/* BUTTON */
.country-select.button {
  margin-bottom: 1em;
  cursor: pointer; }
  .country-select.button.active {
    background: #3a60b3;
    color: white; }

.testimonials {
  background: black url("/resources/img/testBG.jpg") no-repeat;
  background-size: cover;
  text-align: center;
  padding: 4em 2em; }
  .testimonials .wrap {
    max-width: 700px; }
  .testimonials .quote:before {
    content: '\201C';
    font-size: 390px;
    font-family: "Montserrat", sans-serif;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 800;
    position: absolute;
    top: -170px;
    left: -180px;
    width: 280px; }
  .testimonials p {
    color: white;
    font-style: italic;
    font-size: 24px;
    margin: 0;
    text-align: left; }
  .testimonials p.byline {
    font-size: 14px;
    text-align: left;
    margin: 2em 0 0 2em; }
    .testimonials p.byline span {
      font-weight: 800; }

.about .span4 {
  margin-bottom: 2em; }

.modal-body {
  max-height: 420px;
  overflow-y: auto; }

.modal-open {
  overflow: hidden; }

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto; }

.modal {
  background-color: #5a6165;
  border: 0;
  border-radius: 0; }
  .modal .header {
    background: #3a60b3;
    padding: 1em 2em; }
    .modal .header h2 {
      display: inline; }
    .modal .header .close {
      color: white;
      line-height: 43px;
      opacity: 0.4;
      filter: alpha(opacity=0.4); }
      .modal .header .close:hover {
        opacity: 0.8;
        filter: alpha(opacity=0.8); }
  .modal .main-form label {
    color: #a9b1b5;
    font-size: 12px;
    font-weight: 100; }
  .modal .main-form input, .modal .main-form textarea {
    background: #494f53;
    color: #bababa; }
  .modal .main-form textarea {
    min-height: 100px; }

.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.9;
  filter: alpha(opacity=0.9); }

/* Important styles */
#toggle {
  display: block;
  width: 28px;
  height: 30px;
  float: right;
  margin-top: -20px; }

.mainnav {
  padding: 1em; }

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px; }

#toggle span:after {
  top: 9px; }

#toggle span {
  position: relative;
  display: block; }

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px; }

/* on activation */
#toggle.on span {
  background-color: transparent; }

#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px); }

#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px); }

#toggle.on + #menu {
  opacity: 1;
  display: inline; }

/* menu appearance*/
#menu {
  display: none;
  position: relative;
  color: #999;
  width: 90%;
  padding: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity .4s;
  margin: 2em auto 0; }
  #menu ul {
    float: none !important; }
    #menu ul li {
      float: none; }
      #menu ul li a {
        border: 0; }

.testimonial .content {
  padding: 0; }
  .testimonial .content .wrap {
    max-width: 700px;
    padding: 2em; }
  .testimonial .content li {
    background: #ccc;
    padding: 2em 0;
    text-align: center; }
    .testimonial .content li p {
      position: relative; }
    .testimonial .content li .quote {
      font-family: "Montserrat", sans-serif;
      font-size: 30px;
      font-style: italic; }
      .testimonial .content li .quote .byline {
        text-align: left; }
      .testimonial .content li .quote:before {
        content: '\201C';
        font-size: 390px;
        font-family: "Montserrat", sans-serif;
        color: rgba(128, 128, 128, 0.1);
        font-weight: 800;
        position: absolute;
        top: -170px;
        left: -180px;
        width: 280px; }
    .testimonial .content li.odd {
      background: white; }
      .testimonial .content li.odd .quote:before {
        left: auto;
        right: 0; }

.modal .select {
  color: #fff; }
.modal .select-styled {
  background-color: #494f53; }
  .modal .select-styled:hover {
    background-color: #444a4e; }
  .modal .select-styled:active, .modal .select-styled.active {
    background-color: #3d4245; }
    .modal .select-styled:active:after, .modal .select-styled.active:after {
      top: 30px;
      border-color: transparent transparent #444444 transparent; }
.modal .select-options {
  background-color: #3d4245; }
  .modal .select-options li:hover {
    color: #494f53; }

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px; }

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #444444;
  width: 100%;
  height: 60px; }

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ebebeb;
  padding: 20px 15px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in; }
  .select-styled:after {
    content: "";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: #444444 transparent transparent transparent;
    position: absolute;
    top: 30px;
    right: 10px; }
  .select-styled:hover {
    background-color: #e6e6e6; }
  .select-styled:active, .select-styled.active {
    background-color: #dedede; }
    .select-styled:active:after, .select-styled.active:after {
      top: 30px;
      border-color: transparent transparent #444444 transparent; }

.select-options {
  padding: 0 !important;
  height: 120px;
  overflow: scroll;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #dedede; }
  .select-options li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid #d2d2d2;
    -webkit-transition: all 0.15s ease-in;
    -moz-transition: all 0.15s ease-in;
    -ms-transition: all 0.15s ease-in;
    -o-transition: all 0.15s ease-in;
    transition: all 0.15s ease-in; }
    .select-options li:hover {
      color: white !important;
      background: #444444; }
    .select-options li[rel="hide"] {
      display: none; }

.promotions .flex-direction-nav {
  position: absolute; }
.promotions .flex-control-paging li a {
  background: rgba(255, 255, 255, 0.5); }
  .promotions .flex-control-paging li a.flex-active {
    background: white; }
.promotions .flex-control-nav {
  bottom: 20px; }

.pageList li {
  display: inline;
  margin-right: 1em; }

.team {
  padding: 0 !important;
  margin: 0;
  list-style: none; }
  .team li {
    list-style: none;
    padding: 1em 0;
    margin: 0 0 1em 0;
    border-bottom: solid 1px #e5e5e5; }
    .team li h2 {
      margin-top: 0;
      color: #3a60b3; }
    .team li:last-child {
      border-bottom: 0; }

.retailer-list li {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: solid 1px gray; }
  .retailer-list li:last-child {
    border-bottom: 0; }

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
  font-family: 'flexslider-icon';
  src: url("fonts/flexslider-icon.eot");
  src: url("fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("fonts/flexslider-icon.woff") format("woff"), url("fonts/flexslider-icon.ttf") format("truetype"), url("fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0 auto;
  position: relative; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }

.flex-direction-nav .flex-prev {
  left: -50px; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 10px; }

.flexslider:hover .flex-next {
  opacity: 0.7;
  right: 10px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default; }

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  line-height: 1;
  display: inline-block;
  content: '\f001'; }

.flex-direction-nav a.flex-next:before {
  content: '\f002'; }

/* Pause/Play */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }
/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80); }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close, button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  -webkit-box-shadow: none;
  box-shadow: none; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  filter: alpha(opacity=65);
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  filter: alpha(opacity=65);
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover, .mfp-arrow:focus {
  opacity: 1;
  filter: alpha(opacity=100); }

.mfp-arrow:before, .mfp-arrow:after, .mfp-arrow .mfp-b, .mfp-arrow .mfp-a {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after, .mfp-arrow .mfp-a {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before, .mfp-arrow .mfp-b {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after, .mfp-arrow-left .mfp-a {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before, .mfp-arrow-left .mfp-b {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after, .mfp-arrow-right .mfp-a {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before, .mfp-arrow-right .mfp-b {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }

  .mfp-img-mobile img.mfp-img {
    padding: 0; }

  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }

  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }

  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }

  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }

  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }
@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }

  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }

  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }

  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
.mfp-ie7 .mfp-img {
  padding: 0; }

.mfp-ie7 .mfp-bottom-bar {
  width: 600px;
  left: 50%;
  margin-left: -300px;
  margin-top: 5px;
  padding-bottom: 5px; }

.mfp-ie7 .mfp-container {
  padding: 0; }

.mfp-ie7 .mfp-content {
  padding-top: 44px; }

.mfp-ie7 .mfp-close {
  top: 0;
  right: 0;
  padding-top: 0; }

@media (min-width: 400px) {
  .test {
    text-decoration: underline; } }
@media (min-width: 480px) {
  section {
    padding: 2em 0; } }
@media (min-width: 768px) {
  section {
    padding: 4em 2em; }

  .about .span4 {
    margin-bottom: 0em; }

  .hero {
    padding: 8em 2em; }
    .hero h1 {
      font-size: 50px; }

  .home .hero .slides li .slideContain {
    padding: 5em 2em; }
  .home .hero h1 {
    font-size: 30px; }
  .home .content {
    padding: 0 2em; }
    .home .content div.span4 {
      padding: 0 20px 0 0;
      text-align: right;
      border-right: solid 1px #e5e5e5; }
      .home .content div.span4 h2 {
        padding: 0 20px; }
      .home .content div.span4 ul li {
        padding: 8px 20px;
        border-bottom: solid 1px #e5e5e5;
        border-left: solid 7px transparent;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
        transition: 0.3s all; }
        .home .content div.span4 ul li:hover {
          border-color: #e5e5e5; }
        .home .content div.span4 ul li a {
          color: #444444; }
        .home .content div.span4 ul li.active {
          border-left-color: #444444; }
        .home .content div.span4 ul li:last-child {
          border-bottom: 0; }
    .home .content div {
      padding: 2em 0; }
      .home .content div div[class*="span"] {
        padding: 0; }
        .home .content div div[class*="span"] div {
          padding: 0; }

  .content .span8 .productList li img {
    width: auto; } }
@media (min-width: 940px) {
  .home .hero .slides li .slideContain {
    padding: 4em 0em;
    min-height: 400px; }
  .home .hero h1 {
    font-size: 50px; }

  .quoteBar {
    padding: 2em 0; }

  .mainnav .logo {
    display: inline;
    margin-bottom: 0; }
  .mainnav ul {
    float: right; }

  .modal-body {
    max-height: 485px;
    overflow-y: auto; } }
/* @media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5) {
  @import "2x";
} */
