<div class="hidden">
	<img src="http://www.placelocal.com/retarget_pixel.php?cid=442960" width="1" height="1" />
</div>
<script src="resources/js/production.min.js"></script>
<script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-transition.js"></script>
<script>
$(document).ready(function() {
  $('.how-it-works').magnificPopup({type:'iframe'});
  $('.how-it-works2').magnificPopup({type:'iframe'});
});
</script>

        <script src="/resources/js/underscore.min.js"></script>
        <script>
        	var u = _.noConflict();
        </script>
        <script src="/assets/components/dealers/js/jlo.utils.js"></script>
        <script src="/assets/components/dealers/js/jlo.search.js"></script>
    </body>
</html>