<div class="accordion-group">
  <div class="accordion-heading">
    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapse[[+idx]]">
      <strong>Q: [[+question]]</strong>
    </a>
  </div>
  <div id="collapse[[+idx]]" class="accordion-body collapse">
    <div class="accordion-inner">
      [[+answer]]
    </div>
  </div>
</div>