<footer class="mainfooter">
            <div class="row-fluid wrap">
                <div class="span3">
                    <img src="resources/img/footerLogo.png" alt="">
                    <ul class="social">
                        [[$social-links]]
                    </ul>
                </div>
                <div class="span2 offset1">
                    <h4>Products</h4>
                    [[Wayfinder? 
                        &level=`1`
                        &startId=`43`
                        &innerTpl=`nav-innner`
                        &outerTpl=`nav-outer`
                        &sortBy=`menuindex`

                        ]]
                </div>
                <div class="span2">
                    <h4>Residential</h4>
                    [[Wayfinder? 
        &level=`1`
        &startId=`29`
        &innerTpl=`nav-innner`
        &outerTpl=`nav-outer`
        &sortBy=`menuindex`

        ]]
                </div>
                <div class="span2">
                    <h4>Commercial</h4>
                    [[Wayfinder? 
        &level=`1`
        &startId=`30`
        &innerTpl=`nav-innner`
        &outerTpl=`nav-outer`
        &sortBy=`menuindex`

        ]]
                </div>
                <div class="span2">
                    <h4><a href="/become-an-installer">Becomes an Installer</a></h4>
                    <h4><a href="/engineering">Engineering</a></h4>
                    <h4><a href="/about">About Us</a></h4>
                    <h4><a href="/contact">Contact</a></h4>
                </div>
            </div>
            <div class="row-fluid wrap">
            <hr>
                
                <p>[[++site_name]] | 115 W. Jefferson St. Winterset, Iowa 50273 | [[++telephone]]<br>
                    &copy;[[!getDate:date=`%Y`]] [[++site_name]] - All Rights Reserved</p>
            </div>
        </footer>