<div id="[[+pagetitle:lcase:replace=` ==-`]]" class="tab-pane">
    <h2>[[+pagetitle]]</h2>
    [[+home-content]]
    <a class="arrow" href="[[~[[+id]]]]">Learn more about Grip-Tite's [[+pagetitle]]</a>
</div>