<nav class="mainnav">
    <div class="row-fluid wrap">
        <div class="logo"><a href="/"><img src="resources/img/logo.jpg" alt=""></a></div>
        
            [[Wayfinder? 
                &level=`1`
                &startId=`0`
                &innerTpl=`nav-innner`
                &outerTpl=`nav-outer`
                &sortBy=`menuindex`
                &outerClass=`visible-desktop`
                &rowClass=`visible-desktop` 


                ]]
    </div>
    <div class="hidden-desktop">
            <a href="#menu" class="hidden-desktop" id="toggle"><span></span></a>
        
        <div id="menu">
            
          [[Wayfinder? 
                &level=`1`
                &startId=`0`
                &innerTpl=`nav-innner`
                &outerTpl=`nav-outer`
                &sortBy=`menuindex`

                ]]
        </div>
    </div>

    </div>
</nav>