<section class="quoteBar">
                            <div class="row-fluid wrap">
                                <div class="span8">
                                    <h1>Find a Licensed Grip-Tite Installer</h1>
                                    <p>To find a licensed and trained Grip-Tite installer near you.</p>
                                </div>
                                <div class="span4"><a href="/find-an-installer" class="button">Grip-Tite Installers</a></div>
                            </div>
                        </section>