
[[!FormIt?
&hooks=`spam, email`
&emailFrom=`[[++primary_email]]` 
&emailTpl=`snt_from_quote`
&submitVar=`quote`
&emailTo=`justin.lobaito@weloideas.com, [[++primary_email]]`
&emailSubject=`Free Quote Request - GTFR`
&validate=`quote_phone:required,  quote_first_name:required, quote_last_name:required, quote_city:required, quote_address:required, quote_email:required, quote_email:email, quote_comments:required:stripTags, nospam:blank`
&successMessage=`<div class="alert alert-success">
<button type="button" class="close" data-dismiss="alert">&times;</button>
<h3>Thank you for getting in contact with us.</h3>
<p>A [[++site_name]] representative will get in contact with you shortly</p>
</div>`
]]


<div class="modal hide fade" id="quote">
  <div class="header">
    <h2>Request a free quote</h2>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>

<div class="modal-body">
    
  <form action="" class="main-form" action="[[~[[*id]]]]" method="post" >
    <div class="row-fluid">
        <div class="span6"><label for="quote_first_name">First Name</label>
            <input type="text" value="[[!+fi.quote_first_name]]" id="quote_first_name" name="quote_first_name"  placeholder="Jonathan">
        </div>
        <div class="span6"><label for="quote_last_name">Last Name</label>
            <input type="text" value="[[!+fi.quote_last_name]]" id="quote_last_name" name="quote_last_name"  placeholder="Doe">

        </div>
    </div>
    <div class="row-fluid">
        <div class="span6">
            <label for="quote_email">Email</label>
            <input type="text" value="[[!+fi.quote_email]]" id="quote_email" name="quote_email"   placeholder="jon@doe.com">
        </div>
        <div class="span6">
            <label for="quote_phone">Phone</label>
            <input type="tel" value="[[!+fi.quote_phone]]" id="quote_phone" name="quote_phone"   placeholder="999-999-9999">
        </div>
    </div>
    <div class="row-fluid">
        <label for="quote_address">Street Address</label>
        <input type="text" value="[[!+fi.quote_address]]" id="quote_address" name="quote_address"  >

    </div>
    <div class="row-fluid">
        <label for="quote_city">City<sup>*</sup></label>
        <input value="[[!+fi.quote_city]]" type="text" id="quote_city" name="quote_city"  >

    </div>
    <input value="[[!+fi.nospam]]" type="hidden" id="nospam" name="nospam" class="nospam">

    <label for="quote_comments">Additional Comments</label>
    <textarea value="[[!+fi.quote_comments]]" id="quote_comments" name="quote_comments"></textarea>
    <input type="submit" class="cbp-mc-submit" name="quote" value="Request Quote">
</form>
</div>
</div>


