<div class="tophat">
                            <div class="row-fluid wrap">
                                <ul class="social hidden-phone">
                                    [[$social-links]]
                                </ul>
                                <ul class="tophatNav">
                                    <li><a href="" class="ico-phone">[[++telephone]]</a></li>
                                    <li class="hidden-phone"><a href="mailto:[[++primary_email]]" class="ico-envelope">[[++primary_email]]</a></li>
                                </ul>
                            </div>
                        </div>