[[$doc_head]]
<body>
    [[$header]]
    [[$intro-interior]]
    [[$quote-bar]]
    <section class="content">
        <div class="row-fluid wrap">
            <div class="span3">
                <h3>Latest Posts</h3>
                <ul class="posts">
                  [[+latest_posts]]
              </ul>
          </div>
          <div class="span9">
            <div class="entry">
                [[*content]]
            </div>
            
        </div>
        

    </div>
</section>
[[$footer]]

[[$doc_footer]]



