[[$doc_head]]
    <body>
        [[$header]]
        [[$intro-interior]]
        [[$quote-bar]]
        <section class="content">
            <div class="row-fluid wrap">
                <h1>Recent Articles</h1>
                <hr>
                    [[*content]]
               
            </div>
        </section>
        [[$footer]]
        
        [[$doc_footer]]
