[[$doc_head]]
    <body>
        [[$header]]
        [[$intro-interior]]
        [[$quote-bar]]
        <section class="content">
            <div class="row-fluid wrap">
                <div class="span4">
                    [[*content]]
                </div>
                <div class="span8">
                    [[$contact_form]]
                </div>
               
            </div>
        </section>
        </section>
        [[$footer]]
        
        [[$doc_footer]]
