[[$doc_head]]
<body>
	[[$header]]

    [[$intro-interior]]
    <section class="content">
        <div class="row-fluid wrap">
                [[*content]]
					<div class="row-fluid">
						<div class="span5">
							<h3 class="search-heading">Search by Location</h3>
							<div class = "country-select button active" data-country = "US">United States</div>
							<div class = "country-select button" data-country = "CA">Canada</div>
							<form id="search-location-form" class="main-form">
								<div class="clearfix">
									<input class="span12 zip_code" name="zip_code" type="text" placeholder="Your Zip code">
								</div>
								<button class="submit-search button button" type="button" data-loading-text="<i class='icon-refresh icon-spin'></i> Searching..." data-form = "#search-location-form">Search</button>
							</form>
						</div>
					</div>
					<hr />
					<div class="row-fluid search-results results-list-target">
					</div>
					<div type = "text/html" class = "results-list-template hide">
						<%  if(message){%>
						<div class = "row-fluid">
							<div class ="span12 results-message">
								<%= message %>
							</div>
						</div>
						<%  } %>
						<div class="row-fluid">
						<div class = "span6 retailer-list">
							<ul>
								<%
								if(retailers){ %>
									<% _.each(retailers, function(e,i,l){
										e.zip_code = (e.zip_code) ? ((e.zip_code.length == 5) ? e.zip_code : '0' + e.zip_code) : undefined ;
										%>
										<li>
											<strong><a href = "https://www.google.com/maps/place/<%= e.address %>+<%= e.city %>,+<%= e.state %>+<%= e.zip_code %>" target = "_blank"><%=  (e.company) ? e.company : 'Grip Tite Retailer' %></a></strong><br />
											<%=  (e.content) ? e.content + '<br /> ' : '' %>
											<%=  (e.address) ? e.address + '<br />' : '' %>
											<%=  (e.address2) ? e.address2 + '<br />' : '' %>
											<%=  (e.city) ? e.city + ',' : '' %>
											<%=  (e.state) ? e.state + ' ' : '' %>
											<%=  (e.zip_code) ? e.zip_code + '<br />' : '' %>
											<%=  (e.distance) ? 'Distance: ' + e.distance.distance + '<br />' : '' %>
											<%=  (e.phone) ?  'Phone: ' + e.phone + '<br />' : '' %>
											<%=  (e.tollfree) ?  'Tollfree: ' + e.tollfree + '<br />' : '' %>
											<%=  (e.email) ?  'Email: <a href = "mailto:' + e.email + '">' + e.email + '</a><br />' : '' %>
											<%=  (e.website) ?  'Website: <a target="_blank" href = "http://' + e.website + '">' + e.website + '</a><br />' : '' %>
										</li>
									<% }); 
								} %>
										<%
								if(headquarters){
								 _.each(headquarters, function(e,i,l){
									e.zip_code = (e.zip_code) ? ((e.zip_code.length == 5) ? e.zip_code : '0' + e.zip_code) : undefined ;
									%>
									<li class = "headquarters">
										<strong><a href = "https://www.google.com/maps/place/<%= e.address %>+<%= e.city %>,+<%= e.state %>+<%= e.zip_code %>" target = "_blank"><%=  (e.company) ? e.company : 'Grip-Tite Headquarters' %></a></strong><br />
										<%=  (e.content) ? e.content + '<br /> ' : '' %>
										<%=  (e.address) ? e.address + '<br />' : '' %>
										<%=  (e.address2) ? e.address2 + '<br />' : '' %>
										<%=  (e.city) ? e.city + ',' : '' %>
										<%=  (e.state) ? e.state + ' ' : '' %>
										<%=  (e.zip_code) ? e.zip_code + '<br />' : '' %>
										<%=  (e.phone) ?  'Phone: ' + e.phone + '<br />' : '' %>
										<%=  (e.tollfree) ?  'Tollfree: ' + e.tollfree + '<br />' : '' %>
										<%=  (e.email) ?  'Email: <a href = "mailto:' + e.email + '">' + e.email + '</a><br />' : '' %>
										<%=  (e.website) ?  'Website: <a href = "' + e.website + '">' + e.website + '</a><br />' : '' %>
									</li>
									<% });
								} %>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</section>

	[[$footer]]
	[[$doc_footer]]