[[$doc_head]]
<body class="home">
    [[$header]]
    <section class="hero promotions">
        <ul class="slides">
            [[!getImageList?
            &tvname=`promotion-repeater`
            &tpl=`promotion-repeater`
            ]]
        </ul>
    </section>
    

    [[$quote-bar]]
    <section class="content">
        <div class="row-fluid wrap">
            <div>
                [[*content]]
            </div>
            <h1>Do you have foundation problems?</h1>
            <div>
                [[*services-content]]
            </div>
        </div>
    </section>
    <section class="quoteBar" style="background-image:url('resources/img/flagBG.png')">
        <div class="row-fluid wrap" style="text-align:center; ">
            
                <h1>Proudly Made in the USA</h1>
        </div>
    </section>
    <section class="content">
        <div class="row-fluid wrap">
            <div class="row-fluid">
                <div class="span4">
                    <h2>Products</h2>
                    <ul>
                        [[getResources? &parents=`43` &sortby=`{"menuindex":"ASC"}` &limit=`0` &tpl=`nav-inner-home` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &tplFirst=`nav-inner-home-first`]]
                    </ul>
                </div>
                <div class="span7 offset1">
                    <div class="tab-content">
                        [[getResources? &parents=`43` &sortby=`{"menuindex":"ASC"}` &limit=`0` &tpl=`home-service` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &tplFirst=`home-service-first`]]
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimonials">
        <div class="row-fluid wrap flexslider">
            <ul class="slides">
                [[getResources? &parents=`63` &limit=`0` &tpl=`testimonial` &includeTVs=`1` &processTVs=`1` &tvPrefix=`` &includeContent=`1` &sortby=`RAND()`]]
            </ul>
        </div>
    </section>
    <section class="about">
        <div class="row-fluid wrap">
            <div class="span6"><img src="[[*about-graphic]]" alt=""></div>
            <div class="span6">
                [[*about-content]]
                
            </div>
        </div>
    </section>
    [[$footer]]
    
    [[$doc_footer]]
