[[$doc_head]]
    <body>
        [[$header]]
        [[$intro-interior]]
        [[$quote-bar]]
        <section class="content">
            <div class="row-fluid wrap">
                <div class="span4">
                    <h2>[[!GetPageTitle? &id=`[[*parent]]`]]</h2>
                        [[Wayfinder? 
                        &level=`0`
                        &startId=`[[*parent]]`
                        &innerTpl=`nav_inner`
                        &outerTpl=`nav-outer-list`
                        &level=`1`
                        &sortBy=`menuindex`
                        ]]
                        
                        
                        <div class="hidden-phone">
                            [[*casestudies:notempty=`
                            <hr>
                            <h2>Case Studies</h2>
                            [[*casestudies]]
                        `]]
                            [[*animation-video:notempty=`<hr>
                            <h2>See How it Works</h2>
                            <p><strong>[[*animation-video-title]]</strong></p>
                            <a class="how-it-works" href="http://www.youtube.com/watch?v=[[*animation-video]]"><img src="http://img.youtube.com/vi/[[*animation-video]]/0.jpg" alt=""></a>`]]
                            [[*animation-video2:notempty=`<hr>
                            <p><strong>[[*animation-video-title2]]</strong></p>
                            <a class="how-it-works2" href="http://www.youtube.com/watch?v=[[*animation-video2]]"><img src="http://img.youtube.com/vi/[[*animation-video2]]/0.jpg" alt=""></a>`]]
                        </div>
                        
                </div>
                <div class="span8">
                    [[*content]]
                    <hr>
                    <div class="accordion" id="accordion2">
                        [[*products:notempty=`
                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            Products
                          </a>
                        </div>
                        <div id="collapseOne" class="accordion-body collapse in">
                          <div class="accordion-inner">
                            <ul class="productList">
                            [[!getImageList? 
                                &tvname=`products`
                                &tpl=`products-list`
                                ]]
                          </ul>
                          </div>
                        </div>
                      </div>`]]
                      [[*advantages:notempty=`
                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            Advantages
                          </a>
                        </div>
                        <div id="collapseTwo" class="accordion-body collapse">
                          <div class="accordion-inner">
                            [[*advantages]]
                          </div>
                        </div>
                      </div>`]]
                      [[*specifications:notempty=`
                      <div class="accordion-group">
                        <div class="accordion-heading">
                          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                            Specifications
                          </a>
                        </div>
                        <div id="collapseThree" class="accordion-body collapse">
                          <div class="accordion-inner">
                            [[*specifications]]
                          </div>
                        </div>
                      </div>`]]
                    </div>

                    <div class="visible-phone">
                        [[*casestudies:notempty=`
                            <hr>
                            <h2>Case Studies</h2>
                            [[*casestudies]]
                        `]]
                        [[*animation-video:notempty=`<hr>
                        
                        <h2>See How it Works</h2>
                        <p><strong>[[*animation-video-title]]</strong></p>
                        <a class="how-it-works" href="http://www.youtube.com/watch?v=[[*animation-video]]"><img src="http://img.youtube.com/vi/[[*animation-video]]/0.jpg" alt=""></a>`]]
                        [[*animation-video2:notempty=`<hr>
                        <p><strong>[[*animation-video-title2]]</strong></p>
                        <a class="how-it-works2" href="http://www.youtube.com/watch?v=[[*animation-video2]]"><img src="http://img.youtube.com/vi/[[*animation-video2]]/0.jpg" alt=""></a>`]]
                    </div>
                </div>
               
            </div>
        </section>
        </section>
        [[$footer]]
        
        [[$doc_footer]]
