[[$doc_head]]
    <body>
        [[$header]]
        [[$intro-interior]]
        [[$quote-bar]]
        <section class="content">
            <div class="row-fluid wrap">
                <div class="span4">
                    <h2>[[!GetPageTitle? &id=`[[*parent]]`]]</h2>
                        [[Wayfinder? 
                        &level=`0`
                        &startId=`[[*parent]]`
                        &innerTpl=`nav_inner`
                        &outerTpl=`nav-outer-list`
                        &level=`1`
                        &sortBy=`menuindex`
                        ]]
                        
                </div>
                <div class="span8">
                    [[*content]]
                    [[*wall-anchor:notempty=`<h2>Wall Anchor</h2>
                    <ul class="cad">
                      [[!getImageList?
                          &tvname=`wall-anchor`
                          &tpl=`cad`
                        ]]
                    </ul>
                    <hr>`]]
                    [[*push:notempty=`<h2>Push Pier/Pile</h2>
                    <ul class="cad">
                      [[!getImageList?
                          &tvname=`push`
                          &tpl=`cad`
                        ]]
                    </ul>
                    <hr>`]]
                    [[*helical1:notempty=`<h2>2 7/8” Helical Pier/Pile</h2>
                    <ul class="cad">
                      [[!getImageList?
                          &tvname=`helical1`
                          &tpl=`cad`
                        ]]
                    </ul>
                    <hr>`]]
                    [[*helical2:notempty=`<h2>3.5” Helical Pier/Pile</h2>
                    <ul class="cad">
                      [[!getImageList?
                          &tvname=`helical2`
                          &tpl=`cad`
                        ]]
                    </ul>
                    <hr>`]]
                    [[*helical3:notempty=`<h2>1.5” Sq Helical Pile</h2>
                    <ul class="cad">
                      [[!getImageList?
                          &tvname=`helical3`
                          &tpl=`cad`
                        ]]
                    </ul>
                    <hr>`]]
                    [[*helical4:notempty=`<h2>1.75” Sq Helical Pile</h2>
                    <ul class="cad">
                      [[!getImageList?
                          &tvname=`helical4`
                          &tpl=`cad`
                        ]]
                    </ul>
                    <hr>`]]
                    [[*stabilizer:notempty=`<h2>Stabilizer</h2>
                    <ul class="cad">
                      [[!getImageList?
                          &tvname=`stabilizer`
                          &tpl=`cad`
                        ]]
                    </ul>
                    <hr>`]]
                    [[*new:notempty=`<h2>New Construction</h2>
                      <ul class="cad">
                      [[!getImageList?
                          &tvname=`new`
                          &tpl=`cad`
                        ]]
                    </ul>`]]
                    <div class="visible-phone">
                        [[*animation-video:notempty=`<hr>
                        <h2>See How it Works</h2>
                        <p><strong>[[*animation-video-title]]</strong></p>
                        <a class="how-it-works" href="http://www.youtube.com/watch?v=[[*animation-video]]"><img src="http://img.youtube.com/vi/[[*animation-video]]/0.jpg" alt=""></a>`]]
                        [[*animation-video2:notempty=`<hr>
                        <p><strong>[[*animation-video-title2]]</strong></p>
                        <a class="how-it-works2" href="http://www.youtube.com/watch?v=[[*animation-video2]]"><img src="http://img.youtube.com/vi/[[*animation-video2]]/0.jpg" alt=""></a>`]]
                    </div>
                </div>
               
            </div>
        </section>
        </section>
        [[$footer]]
        
        [[$doc_footer]]
