.home {
  .hero{

  	 .slides li .slideContain{
    padding:4em 0em;
    min-height: 400px;
}
    h1 {
      font-size: 50px;
    }
  }
}

.quoteBar {
	padding:2em 0;
}


.mainnav {
	.logo {
		display: inline;
		margin-bottom: 0;
	}
	ul {
		float:right
	}
}


.modal-body {
  max-height:485px;
  overflow-y:auto;
}