.mainnav {
@include transition(all .5s);
padding:2em 0;
background:white;
.logo {
	display: inline;
		img {
			width:120px;
		}
}
	ul{
		float:right;
		display: inline;
		li {
			float:left;
			&.active {
				a {
					color:$secondary;
				}
			}
			&:last-child {
				a {
					border-right: 0;
				}
			}
			a {
				padding:1em 12px;
				font-size: 11px;
				font-family: $heading;
				text-transform: uppercase;
				font-weight: 800;
				line-height: 3.1;
				color:$light;
				border-right: solid 1px $ultralight;
				&:hover {
					color:$secondary;
				}
			}
		}
	}
}

.tophat {
	background:$secondary;
	padding: 0;
	li {
		float:left;
		a.quote {
			background:darken($secondary, 10%);
			padding:2em 4em;
			font-weight: 800;
			font-family: $heading;
			@include transition(.3s all);
			&:hover {
				background:rgba(#c04b13,.6)
			}
		}
		&:last-child, &:nth-child(3) {
			a {
				border-right: 0;
			}
		}
	}
	ul.social {
		float:left;
		
	}
	ul {
		float:right;
		margin: 0;
		padding: 0;
		a {
			display: inline-block;
			padding:2em 1em;
			font-size: 12px;
			color:white;
			&:hover {
				color:rgba(white,.5);
			}
			&:before {
				margin-right: 1em;
			}
			border-right: solid 1px lighten($secondary, 10%);

		}
	}
}

footer {
	padding: 4em 2em;
	background: $dark;

	hr {
		border-top-color:$primary;
	}
	.social {
		li {
			display: inline;
			margin-right:1em;
			&:last-child {
				margin-right:0;
			}
			a {
				font-size:20px;
			}
		}
	}
	h4 {
		font-size: 14px;
		margin: 0 0 10px 0;
		text-transform: uppercase;
		.quote {
			color:$neutral;
		}

		a {
			color:$primary;
			font-size: 14px;
			font-family: $heading;

		}
	}
	li {
		line-height:1.1;
	}
	a {
		color:$neutral;
		font-family:$heading;
		font-size:12px;
	}
}


