* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after {
@extend %clearfix;
}
/* RESPONSIVE IMAGES */

img {
  max-width: 100%; // Make images inherently responsive
  height: auto; // Adds support for images whose dimensions are defined inline
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;

  .lt-ie9 & {
    width: auto;
  } 
}


body {
  padding: 0;
}
/* MAIN */

section {
  padding:3em 2em;
    
}

.wrap {
  max-width: 940px;
  margin:auto;
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }

}

.cad {
  border:solid 1px #D0D0D0;
  padding: 0 !important;
  margin: 0;
  li {
    padding:.5em 1em;
    &:nth-child(even){
      background: #F5F5F5;
    }
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
    width:100%;
    p{
      float:left;
      margin: 0;
      font-weight: 100;
    }
    a {
      float:right;
      margin: 0;
    }
    width:100%;
  list-style: none;

    border-bottom: solid 1px #D0D0D0;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.quoteBar {
  background:url('/resources/img/quoteBG.jpg')no-repeat;
  background-size:cover;
  padding:2em;
  h1 {
    color:white;
  }
  p {
    color:white;
    margin: 0;
  }
  .button {
    color:white;
    background:rgba(white, .2);
    border-color:white;
  }
}
.content .span8 {
.productList {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    img {
      width:19%;
    }
    list-style: none;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: solid 1px #E2E2E2;
    p {
      margin-bottom: 0;
      font-size: 12px;
    }
    &:last-child {
      border-bottom: 0;
    }
    &:before, &:after {
      content:"";
      display:table;
    }

    &:after {
      clear:both;
    }
    img, div {
      float:left;
    }
    div {
      margin-left:1em;
      width:75%;
    }
  }
}
}
ul.list {
  li {
  padding:8px 20px;
  border-bottom:solid 1px $ultralight;
  border-left:solid 7px transparent;
  @include transition(.3s all);
    &:hover {
      border-color:$ultralight;
    }
    a {
      color:$primary;
    }
    &.active {
      border-left-color:$primary;
    }
    &:last-child {
      border-bottom: 0;
    }
  }
}

.content {
  .span4 {
    h2 {
      margin-top: 0;
    }
  }
}

.content {
  .span8 {
    ul {
      list-style-type: disc;
      padding:0 0 0 50px;
      li {
        font-family: $body;
        color:$primary;
      }
    }

  }
}



.home {
  .hero {
    padding: 0;
    position: relative;
    .slides li .slideContain {
    padding:5em 2em;
    background-size: cover;
  min-height: 437px;
  }
    h1 {
      font-size: 20px;
    }
  }

  .content {
    padding: 2em;
    div.span4 {
      text-align:left;
      h2 {
      }
      ul {
        li {
        padding:8px 20px;
        border-bottom:solid 1px $ultralight;
        border-left:solid 7px transparent;
        @include transition(.3s all);
          &:hover {
            border-color:$ultralight;
          }
          a {
            color:$primary;
          }
          &.active {
            border-left-color:$primary;
          }
          &:last-child {
            border-bottom: 0;
          }
        }
      }
    }
    div {
      div[class*="span"] {
        padding:0;
        div {
          padding:0;
        }
      }
    }
  }
}

.hero {
  background-size: cover;
  padding:5em 2em;
  h1 {
    color:white;
    font-size: 25px;
    span {
      color:#D0D0D0;
    }
  }
  p {
    color:white;
  }
  a {
    color:#D0D0D0;
  }
}


/* FOOTER */

/* BUTTON */

.btn, a:visited.btn, button { 

  &:hover, &:focus {
  }
}

.country-select.button {
  margin-bottom: 1em;
  cursor:pointer;
  &.active{
    background:$secondary;
    color:white;
  }
}

.testimonials {
  background:black url('/resources/img/testBG.jpg')no-repeat;
  background-size:cover;
  text-align: center;
  padding:4em 2em;
  .wrap{
    max-width:700px;
  }
  .quote {
    &:before {
      content: '\201C';
      font-size: 390px;
      font-family: $heading;
      color: rgba(white, 0.4);
      font-weight: 800;
      position: absolute;
      top: -170px;
      left: -180px;
      width: 280px;

    }
  }
  p {
    color:white;
    font-style: italic;
    font-size: 24px;
    margin: 0;
    text-align:left;
  }
  p.byline {
    font-size: 14px;
    text-align:left;
    margin: 2em 0 0 2em;
    span {
      font-weight: 800;
    }
  }
}

.about {
  .span4 {
    margin-bottom: 2em;
  }
}

.modal-body {
  max-height:420px;
  overflow-y:auto;
}

.modal-open {
  overflow:hidden;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal {
  
  .header {
    background:$secondary;
    padding:1em 2em;
    h2 {
      display: inline;
    }
    .close {
    color:white;
    line-height: 43px;
    @include opacity(.4);
    &:hover {
      @include opacity(.8);
    }
  }
  }
  background-color:#5a6165;
  border:0;
  border-radius:0;
  .main-form {
    label {
      color:#a9b1b5;
      font-size: 12px;
      font-weight: 100;
    }
    input, textarea {
      background:#494f53;
      color:#bababa;
    }
    textarea {
      min-height:100px;

    }
  }
}

.modal-backdrop, .modal-backdrop.fade.in {
  @include opacity(.9);
}


/* Important styles */
#toggle {
  display: block;
  width: 28px;
  height: 30px;
  float:right;
  margin-top: -20px;
}

.mainnav {
  padding: 1em;
}

#toggle span:after,
#toggle span:before {
  content: "";
  position: absolute;
  left: 0;
  top: -9px;
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color: #888;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  display: inline;
}

/* menu appearance*/
#menu {
  ul {
    float:none !important;
    li {
      float:none;
      a {
        border:0;
      }
    }
  }
  display: none;
  position: relative;
  color: #999;
  width: 90%;
  padding: 10px;
  text-align: center;
  opacity: 0; 
  transition: opacity .4s;
  margin:2em auto 0;
}

.interior {

}

.testimonial {
  .content {
    .wrap {
      max-width:700px;
      padding:2em;
    }
    padding: 0;
    li {
    background:#ccc;
    padding:2em 0;
    text-align: center;
    p {
      position: relative;
    }
    .quote {
      font-family: $heading;
      font-size: 30px;
      font-style: italic;
      .byline {
        text-align: left;
      }
    &:before {
      content: '\201C';
      font-size: 390px;
      font-family: $heading;
      color: rgba(128, 128, 128, 0.1);
      font-weight: 800;
      position: absolute;
      top: -170px;
      left: -180px;
      width: 280px;

    }
  }
    &.odd {
      background: white;
      .quote {
        &:before {
          left:auto;
          right:0;
        }
      }
    }
  }
  }

}


.modal {
  .select {
    color:#fff;
  }
  .select-styled {
    background-color: $select-background-modal;
    &:hover {
    background-color: darken($select-background-modal, 2);
  }

    &:active, &.active {
    background-color: darken($select-background-modal, 5);
    &:after {
      top: 30px;
      border-color: transparent transparent $select-color transparent;
    }
    }
  }
  .select-options {
    background-color: darken($select-background-modal, 5);
    li {
      &:hover {
        color:$select-background-modal;
      }
    }
  }
}


.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: $select-color;
  width: $select-width;
  height: $select-height;
}
.select-styled {
  position: absolute; 
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: $select-background;
  padding: 20px 15px;
  @include transition(all 0.2s ease-in);
  &:after {
    content:"";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: $select-color transparent transparent transparent;
    position: absolute;
    top: 30px;
    right: 10px;
  }
  &:hover {
    background-color: darken($select-background, 2);
  }
  &:active, &.active {
    background-color: darken($select-background, 5);
    &:after {
      top: 30px;
      border-color: transparent transparent $select-color transparent;
    }
  }
}

.select-options {
  padding:0 !important;
  height:120px;
  overflow: scroll;
  display: none; 
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: darken($select-background, 5);
  li {
    margin: 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid darken($select-background, 10);
    @include transition(all 0.15s ease-in);
    &:hover {
      color: white !important;
      background: $select-color;
    }
    &[rel="hide"] {
      display: none;
    }
  }
}

.promotions {
  .flex-direction-nav {
    position: absolute;
  }
  .flex-control-paging li a {
      background: rgba(white, .5);
      &.flex-active{
        background: white;
      }
    }
  .flex-control-nav {
    bottom:20px;
    
  }
}

.pageList li {
  display: inline;
  margin-right: 1em;
}



.team {
  padding: 0 !important;
  margin: 0;  
  list-style: none;
  li {
    list-style: none;
    padding:1em 0;
    margin: 0 0 1em 0;
    h2 {
      margin-top: 0;
      color:$secondary;
    }
    border-bottom: solid 1px $ultralight;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.retailer-list {
  li {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: solid 1px lighten(black, 50%);
    &:last-child {
      border-bottom: 0;
    }
  }
}